//PRIMAIRE
$primaryRedT : hsla(0, 100%, 67%, 0.1);
$primaryRed : hsl(0, 100%, 67%);
$primaryOrangeyT : hsl(39, 100%, 56%, 0.1);
$primaryOrangey : hsl(39, 100%, 56%);
$primaryGreenT : hsl(166, 100%, 37%, 0.1);
$primaryGreen : hsl(166, 100%, 37%);
$primaryCobaltT : hsl(234, 85%, 45%, 0.1);
$primaryCobalt : hsl(234, 85%, 45%);

//GRADIENT
$gradientSlate: hsl(252, 100%, 67%);
$gradientRoyal: hsl(241, 81%, 54%);
$gradientViolet: hsla(256, 72%, 46%, 1);
$gradientPersian: hsla(241, 72%, 46%, 0);

//NEUTRAL
$neutralWhite: hsl(0, 0%, 100%);
$neutralPale: hsl(221, 100%, 96%);
$neutralLight: hsl(241, 100%, 89%, 0.7);
$neutralDark: hsl(224, 30%, 27%);
